.about{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 50px;
}

.boxInfo{
    display: flex;
    align-items: center;
    gap: 6.625rem;
    
}

.boxInfo > img{
    width: 25rem;
}

@media (max-width: 800px) {
    .boxInfo {
      flex-direction: column;  
      width: 100%;
    }
  }
  

