.about{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 50px;
}

.teste{
    display: flex;
    align-items: center;
    gap: 6.625rem;
    
}

.teste > img{
    width: 400px;
}

