.listProjects{ 
    width: 99%;
    height: 19.625rem;
    border: 2px solid #ffff;
    border-radius: 8px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.listProjects:hover{
    transform: scale(1.05);
    transition: .6s;
}

.navCard{
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;

    img{
        height: 124px;
        border-radius: 6px;
    }
}

.contentCard{
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;

    button:hover{
        color: red;
    }
}

.listProjects:hover{
    border: 2px solid red;
    
}