.infosMe {
  width: 50%;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.bannerImg {
  display: flex;
  align-items: center;
  gap: 8rem;
  margin-top: 3.125rem;
}

.infosMe > span {
  color: red;
}

.infosMe > button {
  width: 8.125rem;
  height: 2.4375rem;
  border: 1px solid black;
  background-color: rgb(141, 37, 37);
  border-radius: 0.75rem;
  font-size: 0.875rem;
  color: var(--color-white-text);
}

.vector > img{
  width: 25rem;
}

.infosMe > button:hover {
  background-color: rgb(95, 53, 53);
}
@media (max-width: 800px) {
  .bannerImg {
    flex-direction: column;
  }
  .infosMe {
    width: 100%;
  }
}

